.container {
}
.header {
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #075edb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
}
.content {
  padding: 56px 20px;
}

.text {
  color: #075edb;
}

.divider {
  margin: 30px 0;
}

.legend {
  color: #343a40;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
}

.menuText {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
}
