.title {
  color: #343a40;
  margin-bottom: 10px;
}

.wrapper {
  border: 1px solid #dce2e5;
  border-radius: 10px;
  background-color: #f5f8fa;
  padding: 20px 10px;
}

.question {
  text-align: justify;
}
